<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455212530294-9hfdq46abudal1tk518hbbnkleq6jebq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455212530294-9hfdq46abudal1tk518hbbnkleq6jebq</string>
	<key>API_KEY</key>
	<string>AIzaSyCVdhrarn60BCphi32h4tiVqF-xH1sTFT4</string>
	<key>GCM_SENDER_ID</key>
	<string>455212530294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.modernLoginUi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>authtutorial-fd1b5</string>
	<key>STORAGE_BUCKET</key>
	<string>authtutorial-fd1b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455212530294:ios:f263f6457974641405bd57</string>
</dict>
</plist>